<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap com desktop">

	<Identity Publisher="CN=Dt Client" Version="5.2.0.0"/>
	<Properties />

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements />
			<Extensions>
				<!-- Below Entry Point is to be mentioned in case of C# application for usage of WinAppSDK Background Task API -->
				<Extension Category="windows.backgroundTasks" EntryPoint="Microsoft.Windows.ApplicationModel.Background.UniversalBGTask.Task">
                    <BackgroundTasks>
                        <Task Type="timer"/>
                    </BackgroundTasks>
                </Extension>

				<!--单击Toast通知激活的 CLSID-->
				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="10ab3dd3-6a3c-41b1-93a2-5fde2f2c7111" />
				</desktop:Extension>

				<!--Register COM CLSID LocalServer32 registry key-->
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<!-- Executable切记不加路径，exe名大小写敏感，Arguments固定，否则AppNotificationManager.Register注册失败 -->
						<com:ExeServer Executable="Demo.exe" Arguments="----AppNotificationActivated:" DisplayName="Toast activator">
							<com:Class Id="10ab3dd3-6a3c-41b1-93a2-5fde2f2c7111" />
						</com:ExeServer>
						<com:ExeServer Executable="Demo.exe" Arguments="-RegisterForBGTaskServer" DisplayName="TimeTriggeredTask"
										 LaunchAndActivationPermission="O:PSG:BUD:(A;;11;;;IU)(A;;11;;;S-1-15-2-1)S:(ML;;NX;;;LW)">
							<com:Class Id="87651234-4444-4444-4444-1234567890AA" DisplayName="TimeTriggeredTask" />
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
		<!-- 包管理功能，自动更新 -->
		<rescap:Capability Name="packageManagement" />
	</Capabilities>

	<!-- VS调试时总提示不能中断，暂注释 -->
	<Extensions>
        <Extension Category="windows.activatableClass.inProcessServer">
			<InProcessServer>
				<Path>Microsoft.Windows.ApplicationModel.Background.UniversalBGTask.dll</Path>
				<ActivatableClass ActivatableClassId="Microsoft.Windows.ApplicationModel.Background.UniversalBGTask.Task" ThreadingModel="both"/>
			</InProcessServer>
		</Extension>
    </Extensions>
</Package>
