<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;D:\GitHub\Uno.Wasm.Bootstrap-main\src\Uno.Wasm.Bootstrap.DevServer\build\../../Uno.Wasm.Bootstrap.Cli/bin/Debug/net5/dotnet-unowasm.dll&quot; serve   --pathbase &quot;D:\Dt\Client\Dt.Shell.Wasm\bin\Debug\net5.0\dist&quot; --configuration Debug --targetframework net5.0 " stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>