<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ExportTime" value="09:51"/>
    <add key="ExportPath" value="E:\Bak"/>
    <!--调整后不需要重启服务-->
    <add key="dt" value=" -h10.10.1.2 -udt -pdt dt "/>
    <add key="dt1" value=" -h10.10.1.2 -udt -pdt dt1 "/>
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
</configuration>
